# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore model artifacts
artifacts/
*.pickle

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
logs/

# Ignore environment files
.env

.idea/
